<div class="container-fluid data-interval = 2000" id = 8>
    <div>
        <h1 class="d-flex justify-content-center"> What Are Your</h1>
        <h1 class="d-flex justify-content-center"> Youtube Listening</h1>
        <h1 class="d-flex justify-content-center"> Habits?</h1>
    </div>
    <div>
        <h3 class="d-flex justify-content-center">I'll analyze it for you</h3>
    </div>
    <div class = "row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <a href="/instructions"><button type = "button" class="btn btn-lg btn-block" id = "cssBtn" >Let's Find Out</button></a>
        </div>
        <div class="col-lg-4"></div>
    </div>

</div>