<div class="container-fluid data-interval = 2000" id = 8>
    <h3>To download the Analyze My Youtube extension, you can follow these steps:</h3>
    <ol>
    <li>Open the Chrome Web Store in your Chrome browser.</li>
    <li>Search for "Analyze My Youtube" in the search bar.</li>
    <li>Click on the "Add to Chrome" button to add the extension to your browser.</li>
    <li>Once the extension is installed, go to YouTube in another tab and navigate to your watch history.</li>
    <li>Refresh the watch history page.</li>
    <li>Return to this tab and click the next button</li>
    </ol>
      <div class = "row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
        </div>
        <div class="col-lg-4">
            <a href="/channels"><button type = "button" class="btn btn-lg btn-block" id = "cssBtn" >Next</button></a>
        </div>
    </div>
</div>