<h3 class = "mt-3 text-center">This is a non-utility project that uses a chrome extension to get your Youtube Watch History.</h3> 
<h3 class = "mt-3 text-center">The extension provides analytics and insights into your Youtube usage, including your most-watched videos, channels, and genres, as well as your viewing habits over time.</h3>
<h3 class = "mt-3 text-center">The results are then organized and placed here.</h3>
     
