<div class="container-fluid data-interval = 2000" id = 8>
    <h1>Your Favorite Video of All Was:</h1>
    <div class = "mt-3 col"></div>
    <div class="embed-responsive embed-responsive-4by3 col">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{topLink}}"></iframe>
    </div>
    <div>
    <h3 class="text-center mt-3" >Which you watched a total of</h3>
    <h3 class="text-center mt-3" >{{topFrequency}} times</h3>
    </div>
    <div class = "row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <a href="/intro-page"><button type = "button" class="btn btn-lg btn-block" id = "cssBtn" >Finish</button></a>
        </div>
    </div>
</div>

    
</div>